.container-login {
	background: linear-gradient(180deg, #0275d8 0%, #cdcdcd 100%);
}
.login-form {
	padding: 4em;
	background-color: #010101;
	box-shadow: 14px -7px 15px rgba(0, 0, 0, 0.4);
	border-radius: 54px;
}

.login-text {
	font-weight: 400;
	font-size: 3.5em;
}

.login-button {
	font-size: 2em;
}
.forgot-password,
.signup {
	color: #ffffff;
}
.forgot-password:hover,
.signup:hover {
	color: rgba(255, 255, 255, 0.5);
}

.login-footer {
	width: 100%;
	margin-top: 6em;
}
